.Rproj.user
.Rhistory
.RData
.Ruserdata
reports/
scratch/
figures/
.*.Rproj
.Rproj.user
articles/
renv/
data/
results/
venv/
.Renviron
notebooks/
data/
.cache/
.config/
.duckdb/
.local/
.positron-server/
articles/
docker/
.bash_history
.bash_logout
.bash_profile
.bashrc
.connect-credentials
venv/
R/*/
.ipython/
graphics/
results/
.cmdstan
.gnupg/
.Trash-1000/
